* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);

  font-family: 'Rubik', sans-serif;

  /* min-height: 100vh; */
}

.calculator > button {
  /* padding: 12px 12px; */
  cursor: pointer;

  background-color: #fa5252;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.display {
  grid-column: 1 / -1;
  background-color: antiquewhite;
}

.two-cells {
  grid-column: span 2;
}
